@import "~/styles/_variables";

.draggableItem {
  position: fixed;
  z-index: 9999;
  cursor: grab !important;
  left: 1rem;
  top: 1rem;
  overflow: auto;
}

.resizeBoth {
  cursor: nwse-resize;
  border-color: $backgroundColor $backgroundColor transparent transparent;
  background: transparent;
  display: block;
  width: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-width: 0 1rem 1rem 0;
  border-style: solid;
  box-shadow: 1px 0 1px rgba(0,0,0,0.5), -1px 1px 1px rgba(0,0,0,0.5);
  transform: rotate(90deg);
}
