.stickyCard {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #0A1338FF;
  cursor: grab;
  display: inline-block;
  padding: 1rem;
  min-width: 200px;
  min-height: 200px;
  max-width: 400px;
  max-height: 400px;
  background-color: #FCF5D2;
  border-radius: 2px;
  font-size: 2rem;
  font-weight: 400;
  word-break: break-word;
  user-select: none;

  &:hover {
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    z-index: 5;
  }
}
