.menu {
  position: absolute;
  width: 200px;
  left: 0;
  top: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menuItem {
  color: #000000;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  position: relative;
  margin-bottom: 2px;
  font-weight: 400;
  &:hover {
    background-color: #f1f1f1;
  }
}
