@import "styles/_variables";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: $backgroundColor;
  color: $color;
}

